<p>
    <% if session[:login_uid] %>
        <%= link_to 'ツイートする', new_tweet_path %>
    <% end %>
</p>

<% @tweets.each do |tweet| %>
    <p>
        <%= tweet.message %>
        <%= link_to '削除', tweet_path(tweet) , method: :delete %>
    </p>
<% end %>


<p>
    <% if session[:login_uid] %>
        <%= link_to 'ログアウト', top_logout_path %>
    <% else %>
        <%= link_to 'ログイン', top_main_path %>
    <% end %>
</p>

<p>
    <%= link_to 'ユーザー一覧', users_path %>
</p>