<% if @user.errors.present? %>
    <p>エラーがあります。<p>
    <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_for @user , url: {action: :update} do |f| %>
    <%= f.label :uid, 'ユーザーID：' %>
    <%= f.text_field :uid %>
    <%= f.label :sentence, '紹介文' %>
    <%= f.text_field :sentence %>
    <%= f.submit 'ユーザー情報変更' %>
<% end %>

<br><%= link_to 'ユーザー一覧に戻る', users_path %>

